.container {
    background-color: #EEFAFF;
}

.container .header .navbar .navbar-brand img {
    max-height: 50px;
    width: auto;
}

.container .main {
    margin-top: 35px;
}

.container .main .counter {
    background-color: #FFD2D2;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .main .counter #day-counter {
    font-weight: bold;
    color: #A000D9;
    font-size: 100px;
}
.container .main .counter form label {
    display: block;
    font-weight: bold;
}


.container .main .profile-section {
    align-items: center;
}



.container .main .profile .avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.footer {
    padding: 10px;
    margin-top: 20px;
    overflow: hidden;
}
.footer .marquee {

    overflow: hidden;
    display: inline-flex;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    margin-right: 300px;
    color: palevioletred;
    font-weight: bold;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.hidden {
    display: none;
}

#music-icon {
    cursor: pointer;
}

.container .header .heart-decoration {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensures clicks pass through hearts */
}

.container .header .heart-decoration .love {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('images/love.svg') no-repeat; /* Replace 'heart.png' with your heart image */
    background-size: contain;
    animation: fall 5s linear infinite;
}
.container .header .heart-decoration .care {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('images/care.svg') no-repeat; /* Replace 'heart.png' with your heart image */
    background-size: contain;
    animation: fall 5s linear infinite;
}

@keyframes fall {
    0% {
      transform: translateY(-100vh) rotate(0deg);
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
    }
}

.valentine-message {
    color: #dc3545;
    margin-bottom: 20px;
    text-align: center;
    animation: heartbeat 1s infinite alternate;
  }
  
  @keyframes heartbeat {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
  
  .valentine-message p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .valentine-message p:first-child {
    font-weight: bold;
  }
  
  .valentine-message p:last-child {
    font-style: italic;
  }

  .love-photo-section {
    text-align: center;
    margin-top: 50px;
  }

  .love-photo {
    position: relative;
    display: inline-block;
  
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .love-photo img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid #fff;
  }

  .love-photo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #ff0000, #ff007f, #ff00ff, #8000ff, #0000ff, #00ff80, #00ff00, #80ff00);
    background-size: 400% 400%;
    border-radius: 50%;
    z-index: -1;
    animation: gradient-animation 10s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  
  